<!doctype html>
<html>
  <header>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </header>
  <script>
      // Функция изменяет заголовок, чтобы попрощаться
           function hello() {
               document.querySelector('#buttnresult').innerHTML = 'Goodbye!';
              }
  </script>
 <body>
    <div class='wrapper'>
      A = <input type="number" id="input_A">
      B = <input type="number" id="input_B">
      <button class='get_result' onclick="hello()">Calculate</button>
      <div id = 'buttnresult' class='result'></div>
    </div>
 </body>
 <script>

 </script>
</html>